<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:c="http://java.sun.com/jsp/jstl/core">

<h:body>

    <ui:composition template="/layout.xhtml">
        <ui:define name="header">
            <h1>New Inventory</h1>
        </ui:define>
        <ui:define name="content">
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputText value="Prize:"/>
                    <p:selectOneListbox id="prizes" value="#{inventoryView.entity.prize}"
                                        title="prize" converter="#{prizeConverter}" >
                        <f:selectItems value="#{inventoryView.allPrizes}"/>
                    </p:selectOneListbox>
                    <h:outputText value="Quantity:"/>
                    <h:inputText value="#{inventoryView.entity.quantity}" title="quantity"/>
                </h:panelGrid>
                <br/>
                <p:commandButton value="New Prize" type="button" onclick="dlg2.show();" />
                <p:commandButton action="#{inventoryView.create}" value="Save" ajax="false"/>
                <p:commandButton action="ListInventory" value="Cancel" ajax="false"/>
                <br/>
                <p:dialog header="New prize" widgetVar="dlg2" modal="true" >
                    <p:inputTextarea value="#{inventoryView.newPrize.description}" />
                    <f:facet name="footer">
                        <p:commandButton value="Save" actionListener="#{inventoryView.createPrize}"
                                         update="prizes" onclick="dlg2.hide()"/>
                    </f:facet>
                </p:dialog>
            </h:form>
        </ui:define>

    </ui:composition>

</h:body>
</html>
