<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:c="http://java.sun.com/jsp/jstl/core">

<h:body>

    <ui:composition template="/layout.xhtml">
        <ui:define name="header">
            <h1>Inventory</h1>
        </ui:define>
        <ui:define name="content">
            <h:form>
                <table>
                    <tr>
                        <td valign="top"/>
                        <td valign="top">
                            <h:outputText rendered="#{empty inventoryView.entities}" value="Empty List"/>
                            <p:selectOneListbox value="#{inventoryView.entity}" converter="#{inventoryConverter}"
                                                rendered="#{not empty inventoryView.entities}" style="min-width: 300px;" >
                                <p:ajax event="change" update="oppanel" />
                                <f:selectItems value="#{inventoryView.allEntitiesAsSelectedItems}"/>
                            </p:selectOneListbox>
                        </td>
                        <td valign="top">
                            <p:panel id="oppanel" >
                                <p:commandButton action="#{inventoryView.startCreate}" value="Create" ajax="false"/><br/>
                                <p:commandButton value="Edit" action="#{inventoryView.startEdit}"
                                                 rendered="#{inventoryView.entity != null}" ajax="false"/><br/>
                            </p:panel>
                        </td>
                    </tr>
                </table>
            </h:form>
        </ui:define>

    </ui:composition>

</h:body>
</html>
