<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:c="http://java.sun.com/jsp/jstl/core">

<h:body>

    <ui:composition template="/layout.xhtml">

        <ui:define name="header">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">This is the prize winner!</h1>
                </div>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore
                    et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                    aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in
                    culpa qui officia deserunt mollit anim id est laborum.</p>
            </div>
        </ui:define>

        <ui:define name="content">

            <h:form>
                <p:panel header="Subscribe to win prizes!!">
                    <p:inputText id="emailin" required="true" label="email" size="40"
                                 requiredMessage="Please enter your email address."
                                 validatorMessage="Invalid email format"
                                 value="#{subscriberBean.email}" >
                        <f:validateRegex
                                pattern="^[_A-Za-z0-9-\+]+(\.[_A-Za-z0-9-]+)*@[A-Za-z0-9-]+(\.[A-Za-z0-9]+)*(\.[A-Za-z]{2,})$" />
                    </p:inputText>
                    <p:watermark value="Enter your Email" for="emailin" />
                    <f:facet name="footer" >
                        <p:commandButton value="Subscribe" action="#{subscriberBean.newSubscriptor}" ajax="false"/>
                    </f:facet>
                </p:panel>
            </h:form>
        </ui:define>

    </ui:composition>

</h:body>
</html>
