<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
        >

<h:head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content="Prize winners"/>
    <meta name="author" content="Germán Rosales"/>
    <title>Prize winners</title>

    <h:outputScript value="https://code.jquery.com/jquery-1.11.1.min.js" />
    <h:outputScript value="https://code.jquery.com/ui/1.11.0/jquery-ui.min.js" />
    <h:outputScript value="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js" />
    <h:outputStylesheet value="https://code.jquery.com/ui/1.11.0/themes/smoothness/jquery-ui.css" />
    <h:outputStylesheet value="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" />

</h:head>

<h:body>

    <div id="page">

        <div id="header">
            <ui:insert name="header" >
                <h1>
                    <h:outputText value="Default page title" />
                </h1>
            </ui:insert>
        </div>

        <div id="content" class="container">
            <p:growl id="msgs" showDetail="false" sticky="true"/>
            <ui:insert name="content" >
                <h:outputText value="Default page content" />
            </ui:insert>
        </div>

        <div id="footer">
            <ui:insert name="footer" >
                <h:form>
                    <h:commandLink value="admin" action="admin/ListInventory?faces-redirect=true" />
                </h:form>
                <br/>
                <h:outputText value="Prize winners DEMO 2014" />
            </ui:insert>
        </div>

    </div>

</h:body>
</html>