<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html
        PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xml:lang="en" lang="en">
    <h:body>
        <ui:composition template="/layout.xhtml">
            <ui:define name="header">
            </ui:define>
            <ui:define name="content">
                <h:form id="formLogin" prependId="false"
                        onsubmit="document.getElementById('formLogin').action = 'j_security_check';">
                    <h:panelGrid columns="2">

                        <f:facet name="header">
                            Enter your credentials
                        </f:facet>

                        <h:outputLabel for="j_username" value="Username: "/>
                        <p:inputText id="j_username" required="true" />

                        <h:outputLabel for="j_password" value="Password: "/>
                        <p:password id="j_password" required="true" />

                        <f:facet name="footer">
                            <p:commandButton value="Login" type="submit" ajax="false"/>
                        </f:facet>
                    </h:panelGrid>
                </h:form>
            </ui:define>
        </ui:composition>
    </h:body>

</html>